<div class="instructions noError" data-bind="html: instructions" />
<!-- ko if: choice == 1 -->
<form id="co-validate-form" class="form validate noError" novalidate="novalidate">
    <div class="originalContainer address-option">
        <div class="option-title" data-bind="i18n: 'Original Address'" />
        <div class="option-address">
            <div>
                <input type="radio" id="originalAddress" name="addressToUse" />
            </div>
            <label for="originalAddress" class="original-address-text" />
        </div>
    </div>
    <div class="validContainer address-option selected">
        <div class="option-title" data-bind="i18n: 'Suggested Address'" />
        <div class="option-address">
            <div>
                <input type="radio" id="validAddress" name="addressToUse" checked />
            </div>
            <label for="validAddress" class="valid-address-text" />
        </div>
    </div>
</form>
<!-- /ko -->
<!-- ko if: choice == 0 -->
<div class="valid-address-text validated-address noError" />
<!-- /ko -->
<div class="error-message-container yesError">
    <div class="instructions" data-bind="html: errorInstructions" />
    <div class="original-address-text" />
</div>
