<div class="instructions noError" data-bind="html: instructions" />
<!-- ko if: choice == 1 -->
<form id="co-validate-form" class="form validate noError" novalidate="novalidate">
    <div class="originalContainer addressOption">
        <div class="optionTitle" data-bind="i18n: 'Original Address'" />
        <div class="optionAddress">
            <input type="radio" id="originalAddress" name="addressToUse" />
            <label for="originalAddress" class="originalAddressText" />
        </div>
    </div>
    <div class="validContainer addressOption selected">
        <div class="optionTitle" data-bind="i18n: 'Suggested Address'" />
        <div class="optionAddress">
            <input type="radio" id="validAddress" name="addressToUse" checked />
            <label for="validAddress" class="validAddressText" />
        </div>
    </div>
</form>
<!-- /ko -->
<!-- ko if: choice == 0 -->
<div class="validAddressText validatedAddress noError" />
<!-- /ko -->
<div class="errorMessageContainer yesError">
    <div class="instructions" data-bind="html: errorInstructions" />
    <div class="originalAddressText" />
</div>
