<li id="validate" role="presentation" class="checkout-payment-method" data-bind="fadeVisible: isVisible">
    <!-- ko if: choice == 1 -->
    <div class="step-title" data-bind="i18n: 'Verify Your Address'" data-role="title"></div>
    <div id="checkout-step-validate" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
        <div class="instructions" data-bind="html: instructions" />
        <form id="co-validate-form" class="form validate" novalidate="novalidate">
            <div class="originalContainer addressOption">
                <div class="optionTitle" data-bind="i18n: 'Original Address'"></div>
                <div class="optionAddress">
                    <input type="radio" id="originalAddress" name="addressToUse">
                    <label for="originalAddress"></label>
                </div>
            </div>
            <div class="validContainer addressOption">
                <div class="optionTitle" data-bind="i18n: 'Suggested Address'"></div>
                <div class="optionAddress">
                    <input type="radio" id="validAddress" name="addressToUse">
                    <label for="validAddress"></label>
                </div>
            </div>
        </form>
    </div>
    <!-- /ko -->
    <!-- ko if: choice == 0 -->
    <div class="step-title" data-bind="i18n: 'Verify Your Address'" data-role="title"></div>
    <div id="checkout-step-validate" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
        <div class="instructions" data-bind="html: instructions" />
        <div class="validatedAddress"></div>
    </div>
    <!-- /ko -->
</li>