<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tax>
            <avatax>
                <use_business_identification_number>1</use_business_identification_number>
                <sku_shipping>Shipping</sku_shipping>
                <sku_gift_wrap_order>GwOrder</sku_gift_wrap_order>
                <sku_gift_wrap_item>GwItems</sku_gift_wrap_item>
                <sku_gift_wrap_card>GwPrintedCard</sku_gift_wrap_card>
                <sku_adjustment_positive>Adjustment</sku_adjustment_positive>
                <sku_adjustment_negative>Adjustment</sku_adjustment_negative>
                <error_action>1</error_action>
                <error_action_disable_checkout_message_frontend>Unfortunately, we could not calculate tax for your order. Please try again with a different address or contact us to complete your order.</error_action_disable_checkout_message_frontend>
                <error_action_disable_checkout_message_backend>There was an error getting tax rates from Avalara. Please see the error log for details.</error_action_disable_checkout_message_backend>
                <address_validation_enabled>1</address_validation_enabled>
                <address_validation_user_has_choice>1</address_validation_user_has_choice>
                <address_validation_instructions_with_choice><![CDATA[There is a problem with the address that you entered. The removed text is in red and the added text is in green. Please choose which address you would like to use. If neither option is correct, <a>edit your address</a>.]]></address_validation_instructions_with_choice>
                <address_validation_instructions_without_choice><![CDATA[There is a problem with the address that you entered. The removed text is in red and the added text is in green. If this address is not correct, <a>edit your address</a>.]]></address_validation_instructions_without_choice>
                <address_validation_error_instructions><![CDATA[We were unable to validate your address: <br/> <p>%s</p> If the address below is correct then you don’t need to do anything. To change your address, <a>click here</a>.]]></address_validation_error_instructions>
                <address_validation_countries_enabled>CA,US</address_validation_countries_enabled>
                <logging_db_level>250</logging_db_level>
                <logging_db_lifetime>60</logging_db_lifetime>
                <logging_db_detail>1</logging_db_detail>
                <logging_file_enabled>1</logging_file_enabled>
                <logging_file_mode>1</logging_file_mode>
                <logging_file_level>200</logging_file_level>
                <logging_file_detail>2</logging_file_detail>
                <queue_max_retry_attempts>10</queue_max_retry_attempts>
                <queue_submission_enabled>1</queue_submission_enabled>
            </avatax>
        </tax>
    </default>
</config>