<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tax>
            <avatax_settings>
                <use_business_identification_number>1</use_business_identification_number>
            </avatax_settings>
        </tax>
    </default>
</config>