<?xml version="1.0"?>
<!--
/**
 * ClassyLlama_AvaTax
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2016 Avalara, Inc.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ClassyLlama\AvaTax\Api\ValidAddressManagementInterface" type="ClassyLlama\AvaTax\Model\ValidAddressManagement" />
    <preference for="ClassyLlama\AvaTax\Api\RestInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Rest" />
    <preference for="ClassyLlama\AvaTax\Api\RestTaxInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Rest\Tax" />
    <preference for="ClassyLlama\AvaTax\Api\RestAddressInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Rest\Address" />
    <preference for="ClassyLlama\AvaTax\Api\Data\CrossBorderClassInterface" type="\ClassyLlama\AvaTax\Model\CrossBorderClass" />
    <preference for="ClassyLlama\AvaTax\Api\Data\CrossBorderClassRepositoryInterface" type="ClassyLlama\AvaTax\Model\CrossBorderClassRepository" />
    <preference for="ClassyLlama\AvaTax\Api\Data\CrossBorderClassSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="ClassyLlama\AvaTax\Api\Data\ProductCrossBorderDetailsInterface" type="ClassyLlama\AvaTax\Model\ProductCrossBorderDetails" />
    <preference for="ClassyLlama\AvaTax\Api\RestCustomerInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Rest\Customer" />
    <preference for="ClassyLlama\AvaTax\Api\TokenInterface" type="ClassyLlama\AvaTax\Model\Token"/>
    <preference for="ClassyLlama\AvaTax\Api\TaxCacheInterface" type="ClassyLlama\AvaTax\Model\TaxCache"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\SDKTokenInterface" type="ClassyLlama\AvaTax\Model\Data\SDKToken"/>
    <preference for="ClassyLlama\AvaTax\Api\Framework\Interaction\Request\TaxCompositeInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Request\TaxComposite"/>
    <preference for="ClassyLlama\AvaTax\Api\Framework\Interaction\Storage\ConfigInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Storage\Config"/>
    <preference for="ClassyLlama\AvaTax\Api\MultishippingAddressManagementInterface" type="ClassyLlama\AvaTax\Model\MultishippingCheckout\AddressManagement"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\AddressInterface" type="ClassyLlama\AvaTax\Model\MultishippingCheckout\Address"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\BatchQueueTransactionInterface" type="\ClassyLlama\AvaTax\Model\BatchQueueTransaction" />
    <preference for="ClassyLlama\AvaTax\Api\BatchQueueTransactionRepositoryInterface" type="ClassyLlama\AvaTax\Model\BatchQueueTransactionRepository" />
    <preference for="ClassyLlama\AvaTax\Api\Data\BatchQueueTransactionSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="ClassyLlama\AvaTax\Api\QueueRepositoryInterface" type="ClassyLlama\AvaTax\Model\QueueRepository" />
    <preference for="ClassyLlama\AvaTax\Api\Data\QueueSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="avatax_get_orig_and_valid_address" type="ClassyLlama\AvaTax\Plugin\Checkout\Model\ShippingInformationManagement" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Subtotal">
        <plugin name="avatax_tax_model_sales_total_quote_subtotal" type="ClassyLlama\AvaTax\Plugin\Tax\Model\Sales\Total\Quote\Subtotal" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="avatax_tax_model_sales_total_quote_shipping" type="ClassyLlama\AvaTax\Plugin\Tax\Model\Sales\Total\Quote\Shipping" />
    </type>
    <type name="Magento\Sales\Model\Spi\CreditmemoResourceInterface">
        <plugin name="avatax_sales_spi_creditmemo_resource" type="ClassyLlama\AvaTax\Plugin\Sales\Model\Spi\CreditmemoResource" />
    </type>
    <type name="Magento\Sales\Model\Spi\InvoiceResourceInterface">
        <plugin name="avatax_sales_spi_invoice_resource" type="ClassyLlama\AvaTax\Plugin\Sales\Model\Spi\InvoiceResource" />
    </type>
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="avatax_quote_model_quote_config" type="ClassyLlama\AvaTax\Plugin\Quote\Model\Quote\Config" />
    </type>

    <preference for="Magento\Tax\Model\Sales\Total\Quote\Tax" type="ClassyLlama\AvaTax\Model\Tax\Sales\Total\Quote\Tax"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\GetTaxResponseInterface" type="ClassyLlama\AvaTax\Framework\Interaction\Tax\Get\Response" />

    <type name="ClassyLlama\AvaTax\Framework\Interaction\Storage\ResultStorage">
        <arguments>
            <argument name="namespace" xsi:type="string">creditmemo_tax_estimation</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="avatax_tax_classes_customer_listing_data_source" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Customer\Collection</item>
                <item name="avatax_tax_classes_product_listing_data_source" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Product\Collection</item>
                <item name="avatax_crossborder_classes_listing_data_source" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\CrossBorderClass\Grid\Collection</item>
                <item name="avatax_log_listing_data_source" xsi:type="string">AvaTaxLogGridDataProvider</item>
                <item name="avatax_queue_listing_data_source" xsi:type="string">AvaTaxQueueGridDataProvider</item>\
                <item name="classyllama_avatax_crossbordertype_grid_data_source" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\CrossBorderType\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Customer\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tax_class</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Customer</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Product\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tax_class</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Tax\Classes\Product</argument>
        </arguments>
    </type>
    <virtualType name="AvaTaxLogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">avatax_log</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvaTaxQueueGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">avatax_queue</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Queue</argument>
        </arguments>
    </virtualType>
    <type name="ClassyLlama\AvaTax\Model\Logger\FileHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger">
        <arguments>
            <argument name="name" xsi:type="string">avatax</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="1" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\DbHandler</item>
                <item name="2" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\FileHandler</item>
            </argument>
            <argument name="processors"  xsi:type="array">
                <item name="1" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Monolog\Processor\IntrospectionProcessor">
        <arguments>
            <argument name="skipClassesPartials"  xsi:type="array">
                <item name="1" xsi:type="string">ClassyLlama\AvaTax\Model\Logger\DbHandler</item>
                <item name="2" xsi:type="string">ClassyLlama\AvaTax\Model\Logger\FileHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="tax/avatax/production_license_key" xsi:type="string">1</item>
                <item name="tax/avatax/development_license_key" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="tax/avatax/enabled" xsi:type="string">1</item>
                <item name="tax/avatax/tax_mode" xsi:type="string">1</item>
                <item name="tax/avatax/commit_submitted_transactions" xsi:type="string">1</item>
                <item name="tax/avatax/live_mode" xsi:type="string">1</item>
                <item name="tax/avatax/production_account_number" xsi:type="string">1</item>
                <item name="tax/avatax/production_company_code" xsi:type="string">1</item>
                <item name="tax/avatax/production_company_id" xsi:type="string">1</item>
                <item name="tax/avatax/production_license_key" xsi:type="string">1</item>
                <item name="tax/avatax/development_account_number" xsi:type="string">1</item>
                <item name="tax/avatax/development_company_code" xsi:type="string">1</item>
                <item name="tax/avatax/development_license_key" xsi:type="string">1</item>
                <item name="tax/avatax/development_company_id" xsi:type="string">1</item>
                <item name="tax/avatax/location_code" xsi:type="string">1</item>
                <item name="tax/avatax/address_validation_enabled" xsi:type="string">1</item>
                <item name="tax/avatax/logging_file_enabled" xsi:type="string">1</item>
                <item name="tax/avatax/logging_file_mode" xsi:type="string">1</item>
                <item name="tax/avatax/logging_file_builtin_rotation_enabled" xsi:type="string">1</item>
                <item name="tax/avatax/queue_admin_notification_enabled" xsi:type="string">1</item>
                <item name="tax/avatax/queue_failure_notification_enabled" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="ClassyLlama\AvaTax\Helper\AvaTaxClientWrapper">
        <arguments>
            <argument name="logger" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Framework\Interaction\Rest">
        <arguments>
            <argument name="logger" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Framework\Interaction\Rest\Tax">
        <arguments>
            <argument name="logger" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Framework\Interaction\Rest\Address">
        <arguments>
            <argument name="logger" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Framework\Interaction\Address\Validation">
        <arguments>
            <argument name="addressService" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\Rest\Address\Cacheable</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Framework\Interaction\Tax\Get">
        <arguments>
            <argument name="taxService" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\Rest\Tax\Cacheable</argument>
        </arguments>
    </type>

    <virtualType name="ClassyLlama\AvaTax\Api\SearchCriteria\CollectionProcessor\CrossBorderClassFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="country_ids" xsi:type="object">ClassyLlama\AvaTax\Api\SearchCriteria\CollectionProcessor\FilterProcessor\CrossBorderClass\CountryFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ClassyLlama\AvaTax\Api\SearchCriteria\CrossBorderClassCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">ClassyLlama\AvaTax\Api\SearchCriteria\CollectionProcessor\CrossBorderClassFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="ClassyLlama\AvaTax\Model\CrossBorderClassRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">ClassyLlama\AvaTax\Api\SearchCriteria\CrossBorderClassCollectionProcessor</argument>
        </arguments>
    </type>

    <!--
    /**
     * The following code will rewrite the connection name to connect to 'sales' database on split database install;
     * falls back to default for a conventional install
     */
     -->
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\CreditMemo">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\Invoice">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\Log">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\ResourceModel\Queue">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>

    <preference for="ClassyLlama\AvaTax\Api\CrossBorderTypeRepositoryInterface" type="ClassyLlama\AvaTax\Model\CrossBorderTypeRepository"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\CrossBorderTypeInterface" type="ClassyLlama\AvaTax\Model\CrossBorderType"/>
    <preference for="ClassyLlama\AvaTax\Api\Data\CrossBorderTypeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="ClassyLlama\AvaTax\Model\ResourceModel\CrossBorderType\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">classyllama_avatax_crossbordertype</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\CrossBorderType\Collection</argument>
        </arguments>
    </virtualType>

    <!--region Extension Attribute Persistence -->
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin sortOrder="1" name="classyllama_avatax_order_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Model\ResourceModel\ExtensionAttributesPersistencePlugin"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Item">
        <plugin sortOrder="1" name="classyllama_avatax_creditmemo_item_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Model\ResourceModel\ExtensionAttributesPersistencePlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Item\Collection">
        <plugin sortOrder="1" name="classyllama_avatax_creditmemo_item_collection_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Data\Collection\ExtensionAttributeCollectionLoader"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Invoice\Item">
        <plugin sortOrder="1" name="classyllama_avatax_invoice_item_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Model\ResourceModel\ExtensionAttributesPersistencePlugin"/>
    </type>
    <type name="\Magento\Sales\Model\ResourceModel\Order\Invoice\Item\Collection">
        <plugin sortOrder="1" name="classyllama_avatax_invoice_item_collection_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Data\Collection\ExtensionAttributeCollectionLoader"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Item">
        <plugin sortOrder="1" name="classyllama_avatax_order_item_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Model\ResourceModel\ExtensionAttributesPersistencePlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Item\Collection">
        <plugin sortOrder="1" name="classyllama_avatax_order_item_collection_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Data\Collection\ExtensionAttributeCollectionLoader"/>
    </type>

    <type name="Magento\Quote\Model\ResourceModel\Quote\Item">
        <plugin sortOrder="1" name="classyllama_avatax_quote_item_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Model\ResourceModel\ExtensionAttributesPersistencePlugin"/>
    </type>
    <type name="Magento\Quote\Model\ResourceModel\Quote\Item\Collection">
        <plugin sortOrder="1" name="classyllama_avatax_quote_item_collection_extension_attribute_persistence" type="ClassyLlama\AvaTax\Plugin\Data\Collection\ExtensionAttributeCollectionLoader"/>
    </type>
    <!--endregion-->

    <!-- Plugin to transfer extension attributes from Order -> Invoice -> CreditMemo -->
    <type name="Magento\Sales\Model\Convert\Order">
        <plugin sortOrder="1" name="classyLlamaAvaTaxOrder" type="ClassyLlama\AvaTax\Plugin\Model\Convert\OrderPlugin"/>
    </type>

    <type name="Magento\Quote\Model\Cart\TotalsConverter">
        <!-- We need the tax details plugin to run first -->
        <plugin sortOrder="1" name="add_tax_details"/>
        <plugin sortOrder="2" name="classy_llama_ava_tax_grand_total_details_sorter" type="ClassyLlama\AvaTax\Plugin\Model\Quote\GrandTotalDetailsSorter"/>
    </type>

    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="avataxCustomsMessages" type="ClassyLlama\AvaTax\Model\Plugin\CartTotalRepository" />
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin sortOrder="1" name="classyLlamaAvaTaxCreatePost" type="ClassyLlama\AvaTax\Plugin\Controller\Account\CreatePostPlugin"/>
    </type>

    <type name="ClassyLlama\AvaTax\Model\Tax\Sales\Total\Quote\Tax">
        <arguments>
            <argument name="interactionGetTax" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\Tax\Get\Proxy</argument>
            <argument name="taxCalculation" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\TaxCalculation\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Tax\Model\Sales\Pdf\Tax">
        <plugin name="classyLlamaAvaTaxPdfTaxTotals" type="ClassyLlama\AvaTax\Plugin\Model\Sales\Pdf\TaxPlugin"/>
    </type>

    <type name="ClassyLlama\AvaTax\Model\Tax\Sales\Total\Quote\Tax">
        <arguments>
            <argument name="interactionGetTax" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\Tax\Get\Proxy</argument>
            <argument name="taxCalculation" xsi:type="object">ClassyLlama\AvaTax\Framework\Interaction\TaxCalculation</argument>
        </arguments>
    </type>

    <type name="ClassyLlama\AvaTax\Model\Queue\QueueProcessorProvider">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="normal" xsi:type="string">ClassyLlama\AvaTax\Model\Queue\Processing\NormalProcessing</item>
                <item name="batch" xsi:type="string">ClassyLlama\AvaTax\Model\Queue\Processing\BatchProcessing</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Multishipping\Block\Checkout\Results">
        <plugin name="classyLlamaAvaTaxFilterFailedAddresses" type="ClassyLlama\AvaTax\Plugin\Multishipping\Checkout\Results"/>
    </type>
    <type name="Magento\Multishipping\Block\DataProviders\Overview">
        <plugin name="classyLlamaAvaTaxDataProvidersOverview" type="ClassyLlama\AvaTax\Plugin\DataProviders\Overview"/>
    </type>
</config>
