<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GiftWrapping\Model\Total\Quote\Tax\Giftwrapping">
        <plugin name="avatax_giftwrapping_total_quote_tax_giftwrapping" type="ClassyLlama\AvaTax\Model\GiftWrapping\Total\Quote\Tax\GiftwrappingPlugin" />
    </type>
    <type name="Magento\Catalog\Model\CustomOption\CustomOptionProcessor">
        <plugin name="avatax_set_refs_on_buy_request" type="ClassyLlama\AvaTax\Model\Catalog\CustomOption\CustomOptionProcessor\Plugin" />
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="avatax_get_orig_and_valid_address" type="ClassyLlama\AvaTax\Model\ShippingInformationManagementPlugin" />
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="avatax_sales_order_invoice" type="ClassyLlama\AvaTax\Plugin\SalesOrderInvoice" />
    </type>
    <!--<type name="Magento\Sales\Api\InvoiceRepositoryInterface">-->
        <!--<plugin name="avatax_sales_api_invoice_repository_interface" type="ClassyLlama\AvaTax\Plugin\SalesApiInvoiceRepositoryInterface" />-->
    <!--</type>-->
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="avatax_sales_api_creditmemo_repository_interface" type="ClassyLlama\AvaTax\Plugin\SalesApiCreditmemoRepositoryInterface" />
    </type>
    <preference for="Magento\Tax\Model\Sales\Total\Quote\Tax" type="ClassyLlama\AvaTax\Model\Tax\Sales\Total\Quote\Tax"/>
    <type name="ClassyLlama\AvaTax\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">ClassyLlama\AvaTax\Model\Session\Storage</argument>
        </arguments>
    </type>
    <virtualType name="ClassyLlama\AvaTax\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">classyllama_avatax</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="avatax_log_listing_data_source" xsi:type="string">AvaTaxLogGridDataProvider</item>
                <item name="avatax_queue_listing_data_source" xsi:type="string">AvaTaxQueueGridDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AvaTaxLogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">avatax_log</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvaTaxQueueGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">avatax_queue</argument>
            <argument name="resourceModel" xsi:type="string">ClassyLlama\AvaTax\Model\ResourceModel\Queue</argument>
        </arguments>
    </virtualType>
    <type name="ClassyLlama\AvaTax\Model\Logger\FileHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="ClassyLlama\AvaTax\Model\Logger\AvaTaxLogger">
        <arguments>
            <argument name="name" xsi:type="string">avatax</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="0" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\DbHandler</item>
                <item name="1" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\FileHandler</item>
            </argument>
            <argument name="processors"  xsi:type="array">
                <item name="0" xsi:type="object">ClassyLlama\AvaTax\Model\Logger\AvaTaxProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Monolog\Processor\IntrospectionProcessor">
        <arguments>
            <argument name="skipClassesPartials"  xsi:type="array">
                <item name="0" xsi:type="string">ClassyLlama\AvaTax\Model\Logger\DbHandler</item>
                <item name="1" xsi:type="string">ClassyLlama\AvaTax\Model\Logger\FileHandler</item>
            </argument>
        </arguments>
    </type>
</config>
