<?xml version="1.0"?>
<!--
/**
 * ClassyLlama_AvaTax
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2016 Avalara, Inc.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- AvaTax Configuration -->
        <add id="ClassyLlama_AvaTax::avatax_configuration" title="AvaTax Configuration" translate="title" module="ClassyLlama_AvaTax" sortOrder="15" parent="Magento_Backend::stores" resource="Magento_Tax::config_tax"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_extension_mode" title="Extension Mode" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_extension_mode" sortOrder="10" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_sales_tax" title="Sales Tax" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_sales_tax" sortOrder="20" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_address_validation" title="Address Validation" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_address_validation" sortOrder="30" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_vat" title="VAT" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_vat" sortOrder="40" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_cross_border" title="Cross-Border" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_cross_border" sortOrder="50" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_exemption_certcapture_management" title="Exemption Certificate Management" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_exemption_certcapture_management" sortOrder="60" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_one_way_items_sync" title="Product Sync" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_one_way_items_sync" sortOrder="65" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_error_logs_and_queue" title="Error, Logs and Queue" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_error_logs_queue" sortOrder="70" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>
        <add id="ClassyLlama_AvaTax::avatax_configuration_advanced" title="Advanced" action="adminhtml/system_config/edit/section/tax/expanded/tax_avatax_configuration_advanced" sortOrder="80" module="ClassyLlama_AvaTax"  parent="ClassyLlama_AvaTax::avatax_configuration"  resource="Magento_Tax::config_tax" dependsOnConfig="tax/avatax/enabled"/>

        <!-- AvaTax Classes -->
        <add id="ClassyLlama_AvaTax::avatax_tax" title="AvaTax Classes" translate="title" module="ClassyLlama_AvaTax" sortOrder="16" parent="Magento_Backend::stores" resource="Magento_Backend::stores_other_settings"/>
        <add id="ClassyLlama_AvaTax::avatax_tax_classes_customer" title="Customer Tax Classes" module="ClassyLlama_AvaTax" sortOrder="10" parent="ClassyLlama_AvaTax::avatax_tax" action="avatax/tax_classes_customer" resource="ClassyLlama_AvaTax::manage_avatax"/>
        <add id="ClassyLlama_AvaTax::avatax_tax_classes_product" title="Product Tax Classes" module="ClassyLlama_AvaTax" sortOrder="20" parent="ClassyLlama_AvaTax::avatax_tax" action="avatax/tax_classes_product" resource="ClassyLlama_AvaTax::manage_avatax"/>
        <add action="avatax/crossbordertype/index" id="ClassyLlama_AvaTax::classyllama_avatax_crossbordertype" module="ClassyLlama_AvaTax" parent="ClassyLlama_AvaTax::avatax_tax" resource="Magento_Backend::content" sortOrder="30" title="Cross Border Types"/>
        <add id="ClassyLlama_AvaTax::avatax_cross_border_classes" title="Cross Border Classes" module="ClassyLlama_AvaTax" sortOrder="40" parent="ClassyLlama_AvaTax::avatax_tax" action="avatax/crossborder_classes" resource="ClassyLlama_AvaTax::manage_crossborder_classes" />
        
        <!-- AvaTax Logs and Queue -->
        <add id="ClassyLlama_AvaTax::avatax_logs_queue" title="AvaTax Logs and Queue" translate="title" module="ClassyLlama_AvaTax" sortOrder="17" parent="Magento_Backend::stores" resource="Magento_Backend::stores_other_settings"/>
        <add id="ClassyLlama_AvaTax::avatax_log" title="View Logs" module="ClassyLlama_AvaTax" sortOrder="20" parent="ClassyLlama_AvaTax::avatax_logs_queue" action="avatax/log" resource="ClassyLlama_AvaTax::manage_avatax"/>
        <add id="ClassyLlama_AvaTax::avatax_queue" title="View Queue" module="ClassyLlama_AvaTax" sortOrder="10" parent="ClassyLlama_AvaTax::avatax_logs_queue" action="avatax/queue" resource="ClassyLlama_AvaTax::manage_avatax"/>
    </menu>
</config>
