<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tax">
            <!-- TODO: Figure out how to make sure AvaTax module is handling translation of this/these group[s] and down. -->
            <group id="avatax_connection" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>AvaTax Connection Settings</label>
                <field id="live_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable to use live credentials, disable to use development mode.</comment>
                </field>
                <field id="account_number" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                </field>
                <field id="license_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                </field>
                <field id="company_code" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Code</label>
                </field>
                <field id="development_account_number" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development Account Number</label>
                    <comment>If this field is empty, Account Number field value will be used when in development mode instead.</comment>
                </field>
                <field id="development_license_key" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development License Key</label>
                    <comment>If this field is empty, Account Number field value will be used when in development mode instead.</comment>
                </field>
                <field id="development_company_code" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development Company Code</label>
                    <comment>If this field is empty, Account Number field value will be used when in development mode instead.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
