<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tax">
            <!-- TODO: Figure out how to make sure AvaTax module is handling translation of this/these group[s] and down. -->
            <group id="avatax" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>AvaTax Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable AvaTax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tax_mode" translate="label" type="select" sortOrder="1002" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Mode</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\TaxMode</source_model>
                    <comment><![CDATA[<ul><li><strong>Disabled</strong> — AvaTax tax estimation will be disabled and native Magento tax estimation will be used. Only use this option if you want to use Address Validation without tax estimation.</li><li><strong>Estimate Tax</strong> — AvaTax tax estimation will run during checkout, but completed orders will not be submitted to AvaTax.</li><li><strong>Estimate Tax & Submit Transactions to AvaTax</strong> — AvaTax tax estimation will run during checkout and invoices and credit memos will be submitted to AvaTax.</li></ul>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="commit_submitted_transactions" translate="label" type="select" sortOrder="1004" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Commit Submitted Transactions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Should transactions sent to AvaTax be committed? Only change to "No" if you have specific reason to do so.</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="tax_mode">3</field>
                    </depends>
                </field>
                <field id="connection_settings_header" translate="label" type="label" sortOrder="1010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<strong>Connection Settings</strong>]]></label>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <!-- TODO: Consider using the term "test" for non production/live environments instead of "development". -->
                <field id="live_mode" translate="label" type="select" sortOrder="1020" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\Mode</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="production_account_number" translate="label" type="text" sortOrder="1030" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number (Production)</label>
                    <frontend_class>required-entry</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="live_mode">1</field>
                    </depends>
                </field>
                <!-- TODO: Change this to a password? -->
                <field id="production_license_key" translate="label" type="text" sortOrder="1040" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key (Production)</label>
                    <frontend_class>required-entry</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="live_mode">1</field>
                    </depends>
                </field>
                <field id="production_company_code" translate="label" type="text" sortOrder="1050" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Code (Production)</label>
                    <frontend_class>required-entry validate-length maximum-length-25</frontend_class>
                    <depends>
                        <field id="live_mode">1</field>
                    </depends>
                </field>
                <!-- TODO: Have an error if development or production credentials are not entered on config after save -->
                <field id="development_account_number" translate="label" type="text" sortOrder="1060" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number (Development)</label>
                    <frontend_class>required-entry</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="live_mode">0</field>
                    </depends>
                </field>
                <!-- TODO: Change this to a password? -->
                <field id="development_license_key" translate="label" type="text" sortOrder="1070" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key (Development)</label>
                    <frontend_class>required-entry</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="live_mode">0</field>
                    </depends>
                </field>
                <field id="development_company_code" translate="label" type="text" sortOrder="1080" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Code (Development)</label>
                    <frontend_class>required-entry validate-length maximum-length-25</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="live_mode">0</field>
                    </depends>
                </field>
                <field id="data_mapping_header" translate="label" type="label" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<strong>Data Mapping</strong>]]></label>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <!-- TODO: Possibly have a value that gets set after the first time a live mode customer is set and disable the ability to change this value -->
                <field id="customer_code_format" translate="label comment" type="select" sortOrder="2010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Code Format</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\CustomerCode</source_model>
                    <comment>Select a format for customers to be identified in AvaTax.  Once the integration is live, this setting should not be changed.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_shipping" translate="label" type="text" sortOrder="2020" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping SKU</label>
                    <comment>The SKU sent to denote shipping costs.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_gift_wrap_order" translate="label" type="text" sortOrder="2030" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gift Wrap Order SKU</label>
                    <comment>The SKU sent AvaTax to denote gift wrap order costs.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_gift_wrap_item" translate="label" type="text" sortOrder="2040" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gift Wrap Items SKU</label>
                    <comment>The SKU sent AvaTax to denote gift wrap item costs.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_gift_wrap_card" translate="label" type="text" sortOrder="2050" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gift Wrap Printed Card SKU</label>
                    <comment>The SKU sent to denote gift wrap printed card costs.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_adjustment_positive" translate="label" type="text" sortOrder="2060" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adjustment Refund Sku</label>
                    <comment>The SKU sent to denote positive ajustments.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sku_adjustment_negative" translate="label" type="text" sortOrder="2070" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adjustment Refund SKU</label>
                    <comment>The SKU sent to denote negative ajustments.</comment>
                    <frontend_class>required-entry validate-length maximum-length-50</frontend_class>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="location_code" translate="label" type="text" sortOrder="2080" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Location Code</label>
                    <comment><![CDATA[Optional, unless outlet-based reporting is needed. Location code is a value assigned by some State jurisdictions that identifies a particular store location. These States may require tax liabilities to be broken out separately for each store Location. Read more in the <a href="https://help.avalara.com/000_AvaTax_Calc/000AvaTaxCalc_User_Guide/0C0_Add_Locations/Manage_Locations" target="_blank">AvaTax documentation</a>.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ref1" translate="label comment" type="select" sortOrder="2090" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute to send as ref1</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\Product\Attributes</source_model>
                    <comment>Select a text type product attribute to be sent to AvaTax as ref1. Only the first 250 characters of this attribute will be sent to AvaTax.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="ref2" translate="label comment" type="select" sortOrder="2100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute to send as ref2</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\Product\Attributes</source_model>
                    <comment>Select a text type product attribute to be sent to AvaTax as ref1. Only the first 250 characters of this attribute will be sent to AvaTax.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="use_business_identification_number" translate="label comment" type="select" sortOrder="2110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Submit VAT Number to AvaTax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Set this to "Yes" if you want to send your customer's VAT tax numbers to AvaTax to affect tax calculation. If a customer address has a <strong>VAT Id</strong> stored on their Magento shipping address, it will be sent to the <strong>BusinessIdentificationNo</strong> field in AvaTax.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="address_validation_header" translate="label" type="label" sortOrder="4000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<strong>Address Validation Settings</strong>]]></label>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <field id="address_validation_enabled" translate="label comment" type="select" sortOrder="4010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Address Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>tax/avatax/address_validation_enabled</config_path>
                    <comment>Enable validation of shipping address using the AvaTax Address Validation API.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="address_validation_user_has_choice" translate="label comment" type="select" sortOrder="4020" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow user to choose original (invalid) address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set this to "Yes" to allow the user to choose between the the original and validated addresses (valid address will be selected by default). If set to "No", user will be required to use the validated address or update their original address.</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="address_validation_enabled">1</field>
                    </depends>
                </field>
                <field id="address_validation_countries_enabled" translate="label comment" type="multiselect" sortOrder="4030" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Countries</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\AddressValidationCountries</source_model>
                    <comment>Select which countries to enable for address validation. AvaTax Address Validation currently only supports United States and Canada.</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="address_validation_enabled">1</field>
                    </depends>
                </field>
                <field id="address_validation_instructions_with_choice" translate="label comment" type="textarea" sortOrder="4040" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address Validation Instructions With Choice</label>
                    <comment><![CDATA[This text will be displayed to the user above the <strong>Suggested Address</strong> and <strong>Original Address</strong>.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="address_validation_enabled">1</field>
                        <field id="address_validation_user_has_choice">1</field>
                    </depends>
                </field>
                <field id="address_validation_instructions_without_choice" translate="label comment" type="textarea" sortOrder="4050" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address Validation Instructions Without Choice</label>
                    <comment>This text will be displayed to the user above the suggested address.</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="address_validation_enabled">1</field>
                        <field id="address_validation_user_has_choice">0</field>
                    </depends>
                </field>
                <field id="address_validation_error_instructions" translate="label comment" type="textarea" sortOrder="4060" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address Validation Error Instructions</label>
                    <comment>This text will be displayed when there is an error in the address validation process. The element assigned the 'error-message' class will be filled with the error message summary returned by AvaTax.</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="address_validation_enabled">1</field>
                    </depends>
                </field>
                <field id="error_handling_header" translate="label" type="label" sortOrder="5000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<strong>Error Handling Settings</strong>]]></label>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <field id="error_action" translate="label comment" type="select" sortOrder="5010" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Error Action</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\ErrorAction</source_model>
                    <comment><![CDATA[What should happen if Magento is unable to retrieve taxes from the AvaTax API. Regardless of which option is selected, if there is an error in the AvaTax tax estimation, the extension will fall back to using native Magento tax rules. However if <strong>Disable checkout & show error message</strong> is selected, the extension will prevent users and admins from placing orders.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="error_action_disable_checkout_message_frontend" translate="label comment" type="textarea" sortOrder="5020" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Error Message</label>
                    <comment><![CDATA[This error message will be displayed to user if there is an error calculating taxes and if <strong>Disable checkout & show error message</strong> is selected above.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="error_action">1</field>
                    </depends>
                </field>
                <field id="error_action_disable_checkout_message_backend" translate="label comment" type="textarea" sortOrder="5030" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backend Error Message</label>
                    <comment><![CDATA[This error message will be displayed to admin if there is an error calculating taxes and if <strong>Disable checkout & show error message</strong> is selected above.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="error_action">1</field>
                    </depends>
                </field>
                <field id="logging_settings_header" translate="label" type="label" sortOrder="5500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label><![CDATA[<strong>Logging Settings</strong>]]></label>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <field id="logging_db_level" translate="label" type="select" sortOrder="5510" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Database Log Level</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\LogLevel</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Notice or Warning recommended for production use</comment>
                </field>
                <field id="logging_db_detail" translate="label" type="select" sortOrder="5520" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Database Log Detail</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\LogDetail</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Minimal recommended for production use</comment>
                </field>
                <field id="logging_db_lifetime" translate="label" type="text" sortOrder="5530" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Database Log Record Lifetime</label>
                    <comment>Required. Days before entries are auto-purged.</comment>
                    <frontend_class>validate-number</frontend_class>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="logging_file_enabled" translate="label" type="select" sortOrder="5540" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logging To File</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Archiving of log files is affected by System -> Admin Actions Log Archiving</comment>
                </field>
                <field id="logging_file_mode" translate="label" type="select" sortOrder="5550" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>File Log Mode</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\LogFileMode</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="logging_file_enabled">1</field>
                    </depends>
                    <comment>Log files are located in the magento var/log/ directory</comment>
                </field>
                <field id="logging_file_builtin_rotation_enabled" translate="label" type="select" sortOrder="5560" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Built-In Log File Rotation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="logging_file_enabled">1</field>
                        <field id="logging_file_mode">2</field>
                    </depends>
                    <comment>Automatic log file rotation will allow you to control how much history is maintained in
                        the AvaTax log files, and separate them by day. For more efficient management of log files you
                        should disable this option and use something like logrotate to handle the rotation of log files
                        at the system level.</comment>
                </field>
                <field id="logging_file_builtin_rotation_max_files" translate="label" type="text" sortOrder="5570" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Built-In Log File Rotation Max Files</label>
                    <frontend_class>validate-number</frontend_class>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="logging_file_enabled">1</field>
                        <field id="logging_file_mode">2</field>
                        <field id="logging_file_builtin_rotation_enabled">1</field>
                    </depends>
                    <comment>The number of files/days to maintain in the log directory when rotating. The log file rotator
                        will create a new file each day.
                    </comment>
                </field>
                <field id="logging_file_level" translate="label" type="select" sortOrder="5580" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>File Log Level</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\LogLevel</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="logging_file_enabled">1</field>
                    </depends>
                    <comment>Info or Notice recommended for production use</comment>
                </field>
                <field id="logging_file_detail" translate="label" type="select" sortOrder="5590" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>File Log Detail</label>
                    <source_model>ClassyLlama\AvaTax\Model\Config\Source\LogDetail</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="logging_file_enabled">1</field>
                    </depends>
                    <comment>Normal recommended for production use</comment>
                </field>
                <field id="queue_processing_header" translate="label" type="label" sortOrder="6000" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label><![CDATA[<strong>Queue Processing Settings</strong>]]></label>
                    <comment><![CDATA[If <strong><a href="#tax_avatax">Tax Mode</a></strong> is set to <strong>Estimate Tax & Submit Transactions to AvaTax</strong>, then queue processing is enabled. Otherwise the queue will not submit invoices and credit memos to AvaTax as transaction submissions are disabled.]]></comment>
                    <!-- Reference: https://github.com/magento/magento2/issues/2340
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    -->
                </field>
                <field id="queue_max_retry_attempts" translate="label comment" type="text" sortOrder="6020" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Max Queue Retry Attempts</label>
                    <comment>Please enter a number 1 or greater in this field.</comment>
                    <frontend_class>validate-number</frontend_class>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="queue_complete_lifetime" translate="label comment" type="text" sortOrder="6030" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Complete Queue Lifetime</label>
                    <comment>Required. Days before entries are auto-purged.</comment>
                    <frontend_class>validate-number</frontend_class>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="queue_submission_enabled">1</field>
                    </depends>
                </field>
                <field id="queue_failed_lifetime" translate="label comment" type="text" sortOrder="6040" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Failed Queue Lifetime</label>
                    <comment>Required. Days before entries are auto-purged.</comment>
                    <frontend_class>validate-number</frontend_class>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="queue_submission_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="classes">
                <field id="shipping_tax_class">
                    <comment>This setting will be ignored if AvaTax is enabled, as shipping Tax Code is hard-coded as FR020100 and AvaTax will determine whether tax applies to an order.</comment>
                </field>
            </group>
            <group id="calculation">
                <field id="algorithm">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax always calculates tax on a row level.</comment>
                </field>
                <field id="based_on">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax always uses the shipping address for estimation.</comment>
                </field>
                <field id="price_includes_tax">
                    <comment>This setting will be ignored if AvaTax is enabled, as you must set your prices in Magento without taxes included so that AvaTax is the single system of record for tax estimation.</comment>
                </field>
                <field id="shipping_includes_tax">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax must be responsible for calculating shipping tax.</comment>
                </field>
                <field id="apply_after_discount">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax doesn't support line-level discounts.</comment>
                </field>
                <field id="discount_tax">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax doesn't support line-level discounts.</comment>
                </field>
                <field id="apply_tax_on">
                    <comment>This setting will be ignored if AvaTax is enabled, as AvaTax should always calculate tax after discounts are applied in Magento.</comment>
                </field>
                <field id="cross_border_trade_enabled">
                    <comment>This setting will be ignored if AvaTax is enabled.</comment>
                </field>
            </group>
            <group id="defaults">
                <field id="postcode">
                    <comment>If AvaTax is enabled, it is highly recommended that you leave this field blank. Otherwise, the number of AvaTax API requests will increase significantly, as every time a guest adds a product to their cart, AvaTax will calculate tax for the postal code entered above.</comment>
                </field>
            </group>
            <group id="weee">
                <field id="enable">
                    <comment>The AvaTax extension does not support the usage of Fixed Product Taxes, so do not enable this option.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
